<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>☀️Wellcome Sunnyday!!☀️</title>

<script type="text/javascript">
	function idCheckForm() {
		let w = screen.width;
		let h = screen.height;
		
		window.open("idCheckForm","아이디 중복 확인","width=350, height=400, left=550, top=200");
	}
	function vaildation() {
		let id = document.getElementById("id").value;
		let pw = document.getElementById('pw').value;
		let name = document.getElementById('name').value;
		let address = document.getElementById('address').value;
		let phone = document.getElementById('phone').value;
		
		if(id == null) {
			alert("ID 를 입력하세요.");
			return false;
		}
		if(pw == null || pw.length<8) {
			alert("비밀번호 8자 이상으로 입력하세요.");
			return false;
		}
		if(name == null || name.length<2) {
			alert("이름을 입력하세요.");
			return false;
		}
		
	}
	
	function pwCheck() {
		let pw = document.getElementById('pw').value;
		let pw2 = document.getElementById('pw2').value;
		let msg = document.getElementById('pwmsg');
		
		if(pw == pw2) {
			msg.innerHTML= "☀️비밀번호가 일치합니다.️☀️";
		}
		if(pw != pw2) {
			msg.innerHTML = "⛈️️비밀번호가 일치하지 않습니다.️️⛈️";
		}
		
		if(pw == "" && pw2 == ""){
			msg.innerHTML = "   ";
			
		}
		
	}
</script>
</head>
<body>
	<div id="title">
		<h1>[ 🌤️ 회원가입 ]</h1>
	</div>
	<div>
		<form th:action="@{/member/join}" method="post" onsubmit="return validation()">
			아이디 <input type="text" id="id" name="memberid" placeholder="아이디" readonly="readonly">
			<input type="button" id="idCheck" value="중복확인" onclick="idCheckForm()"><br>
			비밀번호 <input type="password" id="pw" name="memberpw" placeholder="비밀번호" onkeyup="pwCheck()"><br>
			<p id="pwmsg"></p>
			비밀번호 확인 <input type="password" id="pw2" placeholder="비밀번호확인" onkeyup="pwCheck()"><br>
			이름 <input type="text" id="name" name="name" placeholder="이름" ><br>
			이메일 <input type="text" id="email" name="email" placeholder="이메일"><br>
			주소 <input type="text" id="address" name="address" placeholder="주소"><br>
			전화번호 <input type="text" id="phone" name="phone" placeholder="전화번호"><br>
			<input type="submit" value="🌈쿠쿠루삥뽕!🌈">
		</form>		
	</div>
</body>
</html>